.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.loading-spinner {
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

    .loading-spinner i {
        font-size: 3rem;
        color: #a9ca4c;
        margin-bottom: 10px;
    }
